# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Expo / React Native
.expo/
.expo-shared/
.expo/web-build/
web-build/
android/
ios/
*.keystore
*.jks
*.p8
*.p12

# Build outputs
build/
dist/
coverage/

# Caches
.cache/
.parcel-cache/
.turbo/
.next/

# Editor/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Env
.env*

# Misc
*.log
